@model ShoppingCart
@{
    // Hàm để định dạng giá tiền: Ví dụ 20000000.00 sẽ thành 20.000.000 VND
    string FormatPrice(decimal price)
    {
        return string.Format("{0:N0} VND", price);
    }

    // Tính tổng giá tiền của các dịch vụ trong giỏ hàng
    decimal totalPrice = Model.Items.Sum(item => item.Price * item.Quantity);
}

<!DOCTYPE html>
<html>
<head>
    <title>Your Cart</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        /* Định dạng hàng cuối của bảng */
        .total-row td {
            text-align: center; /* Căn giữa chữ "Tổng giá tiền" */
            font-weight: bold;
        }
    </style>
</head>
<body>

    <h2>Giỏ hàng của bạn</h2>
    <table>
        <tr>
            <th>Dịch Vụ</th>
            <th>Giá</th>
            <th>Hành Động</th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Name</td> 
                <td>@FormatPrice(item.Price)</td> <!-- Sử dụng FormatPrice để định dạng giá tiền -->
                <td>
                    <a asp-action="RemoveFromCart" asp-route-productId="@item.ProductId">Bỏ chọn dịch vụ</a>
                </td>

            </tr>
        }
        <!-- Thêm hàng mới ở cuối bảng để hiển thị tổng giá tiền -->
        <tr class="total-row">
            <td colspan="3">Tổng giá tiền: @FormatPrice(totalPrice)</td>
        </tr>
    </table>

    <br />
    <div style="display: flex; justify-content: center; margin-bottom: 10px;">
        <form asp-controller="ShoppingCart" asp-action="OrderList" method="post" style="margin-right: 10px;">
            <button type="submit" style="background-color: #008000; color: white;">Lịch hẹn của bạn</button>
        </form>

        <form asp-controller="ShoppingCart" asp-action="Checkout" method="post">
            <button type="submit" style="background-color: #008000; color: white;">Tiến hành đặt lịch</button>
        </form>

    </div>

</body>
</html>
