@model List<NhaKhoaQuangVu.Models.DatHen>
@{
    ViewBag.Title = "Nha Khoa Quang Vũ";
}
@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#autocomplete").autocomplete({
                source: '/Home/AutocompleteSearch'
            });
        });
    </script>
    <style>
        .img-container {
            position: relative;
            display: inline-block;
            width: 50%;
            margin-bottom: 1rem;
            overflow: hidden; /* Đảm bảo ảnh không tràn ra ngoài container */
        }

            .img-container img {
                width: 620px; /* Kích thước chiều rộng cố định */
                height: 400px;
                display: block;
                object-fit: cover; /* Đảm bảo ảnh được căn chỉnh và điều chỉnh để phù hợp với container */
                max-width: 100%; /* Đảm bảo ảnh không vượt quá kích thước của container */
                max-height: 100%; /* Đảm bảo ảnh không vượt quá kích thước của container */
                transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
            }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 102, 204, 0.8); /* Lớp phủ màu xanh với độ mờ */
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.3s ease;
            text-align: center;
        }

        .img-container:hover .overlay {
            opacity: 1;
        }

        /* Hiệu ứng khi hover vào ảnh */
        .img-container:hover img {
            transform: scale(1.1); /* Phóng to ảnh khi hover */
        }

        #title:hover {
            color: deepskyblue;
            transform: scale(1.3);
        }
    </style>

}

<main>
    <section class="row text-center" aria-labelledby="aspnetTitle">
        <h1 id="title" class="my-4">Chào mừng đến với Nha Khoa Quang Vũ</h1>
        <p class="lead mb-4">"Uy Tín - Tận Tình - Tận Tâm" chính là yếu tố hàng đầu mà Nha Khoa Quang Vũ luôn mang đến cho khách hàng.</p>
        <div class="img-container">
            <img src="/Images/homeImage.jpg" alt="Nha Khoa Quang Vũ" class="img-fluid" />
            <div class="overlay">Nha Khoa Quang Vũ</div>
        </div>
        <div class="img-container">
            <img src="/images/dental-booking.jpg" alt="Nha Khoa Quang Vũ" class="img-fluid" />
            <div class="overlay">Nha Khoa Quang Vũ</div>
        </div>
    </section>

    <div class="row mt-4">
        <section class="col-md-6" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Xem Dịch Vụ</h2>
            <p>
                Tham khảo chi phí cho các dịch vụ, chúng tôi cam kết giá đúng như được thông tin.
            </p>
            <p><a class="btn btn-outline-dark" href="@Url.Action("BangGia", "Home")">Xem các dịch vụ &raquo;</a></p>
        </section>
        <section class="col-md-6" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Đặt Lịch Khám</h2>
            <p>Hãy đặt lịch khám cho bạn và chúng tôi sẽ liên hệ cho bạn cách sớm nhất.</p>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Add", "DatHen")">Đặt lịch ngay &raquo;</a></p>
        </section>
    </div>
</main>
