@{
    ViewBag.Title = "Liên Hệ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>


    <address>
        132, Tôn Thất Thuyết,<br />
        Quận 12, TP. Hồ Chí Minh.<br />
        Hotline: 1911.100.200 <br />
    </address>

    <address>
        <strong>Địa chỉ mail:</strong>   <a href="mailto:Support@example.com">nhakhoaquangvu@gmail.com</a><br />
        <strong>Địa chỉ website:</strong> <a href="mailto:Marketing@example.com">nhakhoaquangvu.io.vn</a>
    </address>
</main>