@model NhaKhoaQuangVu.Models.NhanVien
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Thêm Thông Tin Nhân Viên";
}
<h2>Thêm dịch vụ</h2>
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="HoTen"></label>
        <input asp-for="HoTen" class="form-control" />
        <span asp-validation-for="HoTen" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SDT"></label>
        <input asp-for="SDT" class="form-control" />
        <span asp-validation-for="SDT" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChucVu"></label>
        <input asp-for="ChucVu" class="form-control" />
        <span asp-validation-for="ChucVu" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiaChi"></label>
        <input asp-for="DiaChi" class="form-control" />
        <span asp-validation-for="DiaChi" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>
