@page
@model RegisterModel
@{
    ViewData["Title"] = "Đăng Ký Tài Khoản Thành Viên";
}

<section class="vh-100" ">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center" style="background-color: aliceblue; border-radius: 1rem;">
                        <h3 class="mb-4">Đăng ký Thành Viên</h3>

                        <div data-mdb-input-init class="form-outline mb-3">
                            <label class="form-label" for="typeEmailX-2">Họ Tên</label>
                            <input asp-for="Input.FullName" class="form-control form-control-lg" autocomplete="FullName" aria-required="true" />                           
                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-3">
                            <label class="form-label" for="typePasswordX-2">Email</label>
                            <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-3">
                            <label class="form-label" for="typePasswordX-2">Mật khẩu</label>
                            <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-3">
                            <label class="form-label" for="typePasswordX-2">Xác nhận mật khẩu</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-3">
                            <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control form-control-lg">
                                <option disabled selected>-Chọn vai trò-</option>
                            </select>
                        </div>

                        <button id="registerSubmit" type="submit" class="btn btn-primary btn-lg btn-block">Đăng Ký</button>

                        <hr class="my-4">

                        <!-- Nút đăng ký bằng Google và Facebook -->
                        <div class="mb-3">
                            <!-- Nút đăng ký bằng Google -->
                            <button type="button" class="btn btn-sm btn-danger">
                                <i class="fab fa-google me-2"></i> Với Google
                            </button>
                            <!-- Nút đăng ký bằng Facebook -->
                            <button type="button" class="btn btn-sm btn-primary">
                                <i class="fab fa-facebook-f me-2"></i> Với Facebook
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
