@model NhaKhoaQuangVu.Models.BangGia
</br>
<h2>Xác nhận Xoá Dịch Vụ</h2>
</br>
@using (Html.BeginForm("DeleteConfirmed", "BangGia", FormMethod.Post, new { area = "Admin" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="id" value="@Model.MaDichVu" />
    <p>Bạn Chắc Chắn Muốn Xoá Dịch Vụ "@Model.TenDichVu" ?</p>
    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-secondary" onclick="history.back()">Cancel</a>

}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>